*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#navegacion li a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
#navegacion li{
    background: black;
    list-style: none;
    padding: 1em;
}
#navegacion li:hover{
    background: tomato;
}
/* MEDIA QUERIES */
@media (min-width: 576px){
    #navegacion{
        display: flex;
        background: black;
    }
}