*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navegacion{
    display: flex;
    background: black;
}
#navegacion li a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
#navegacion li{
    background: black;
    list-style: none;
    padding: 1em;
}
#navegacion li:hover{
    background: tomato;
}
/* SECCION DE INFORMACIÓN */
section{
    display: flex;
    text-align: center;
    line-height: 1.8;
}
.container{
    width: 80%;
    margin: 0 auto;
    /* overflow: hidden;     */
}
section article:nth-child(1){
    max-width: 50%;
    background-color: #293037;
    color: aliceblue;
}
section article:nth-child(2){
    max-width: 50%;
    background-color: #6a7c8f;
    color: white;
}
.main-info{
    margin-bottom: 150px;
}
.main-info h1{
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
}
.main-info h2{
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 15px;

}
.main-info .divider{
    display: block;
    width: 1.6em;
    height: .2em;
    margin: 1.6em auto;
    margin-left: auto;
    background-color: white;
}
.main-info p{
    margin-bottom: 60px;
}
.main-info a{
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 40px; 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.7s;
}
.main-info a:hover{
    background-color: aliceblue;
    color: #293037;
}
/* SECOND SECTION */
.second-section{
    background: url('../img/prague-3540883_1920.png') no-repeat 0 -350px;
    /* background-size: cover; */
    height: 500px;
    display: flex;
    align-items: center;
}
.cont-direction{
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
}
.cont-direction p span{
    font-size: 1.8em;
}
.cont-direction .main-title{
    text-transform: uppercase;
}
.cont-direction h2{
    text-transform: capitalize;
    word-spacing: 7px;
}
.p-description{
    margin-bottom: 50px;
}
.cont-direction a{
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 12px 40px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    background-color: #293037;
    color: #fff;
    margin-top: 200px;
    transition: all 0.7s;
}
/* MEDIA QUERIES */
@media (max-width: 576px){
    #navegacion{
        display: flex;
        background: black;
    }
    .section-info{
        display: flex;
        flex-direction: column;
    }
    section article:nth-child(1), section article:nth-child(2){
        min-width: 100%;
    }
}